[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/wangyoucao577/FFmpeg.git
[submodule "nv-codec-headers"]
	path = third-party/nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers.git
[submodule "SVT-AV1"]
	path = third-party/SVT-AV1
	url = https://gitlab.com/AOMediaCodec/SVT-AV1.git
[submodule "x264"]
	path = third-party/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "x265"]
	path = third-party/x265
	url = https://bitbucket.org/multicoreware/x265_git.git
[submodule "vmaf"]
	path = third-party/vmaf
	url = https://github.com/Netflix/vmaf.git
[submodule "SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "opus"]
	path = third-party/opus
	url = https://github.com/xiph/opus.git
[submodule "fdk-aac"]
	path = third-party/fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "aom"]
	path = third-party/aom
	url = https://aomedia.googlesource.com/aom
[submodule "srt"]
	path = third-party/srt
	url = https://github.com/Haivision/srt.git
[submodule "rtmpdump"]
	path = third-party/rtmpdump
	url = https://github.com/wangyoucao577/rtmpdump.git
[submodule "third-party/openssl"]
	path = third-party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "third-party/boringssl"]
	path = third-party/boringssl
	url = https://github.com/google/boringssl.git
[submodule "third-party/libxml2"]
	path = third-party/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "third-party/mbedtls"]
	path = third-party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "third-party/soxr"]
	path = third-party/soxr
	url = https://github.com/chirlu/soxr.git
[submodule "third-party/dav1d"]
	path = third-party/dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "third-party/zimg"]
	path = third-party/zimg
	url = https://github.com/sekrit-twc/zimg.git
