[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/wangyoucao577/FFmpeg.git
[submodule "nv-codec-headers"]
	path = nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers.git
[submodule "SVT-AV1"]
	path = SVT-AV1
	url = https://github.com/AOMediaCodec/SVT-AV1.git
[submodule "x264"]
	path = x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "x265"]
	path = x265
	url = https://github.com/videolan/x265.git
